<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.voiceshow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FindActivity"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /><!--登录首页-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity"/>
        <activity android:name=".Person1Activity"/>
        <activity android:name=".SubhotActivity"/>
        <activity android:name=".VoiceActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".Person2Activity"/>
        <activity android:name=".HotActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".DiscoveryActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".FinishActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest>